/* Regole reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Regole layout */
body {
    font-family: "Whitney", "Helvetica", sans-serif;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

/* Utility */
.row {
    display: flex;
    flex-wrap: wrap;
}

.row--reverse {
    flex-direction: row-reverse;
}

.cta {
    padding: 11px 16px;
    border-radius: 40px;
    color: #23272a;
    background-color: #fff;
    text-decoration: none;
}

/* Header */
.main-header {
    padding: 10px;
    background-color: #255EE9;
}

.main-header__logo,
.footer__botto__logo {
    max-width: 124px;
}

.main-header .container {
    align-items: center;
}

.main-header__cta,
.footer__bottom__cta {
    font-size: 14px;
}

/* Header debug */
.debug .main-header {
    background-color: #D8E9EF;
}

.debug .main-header .container {
    background-color: #EAD5A0;
}

.debug .main-header__logo,
.debug a {
    color: #888;
    text-decoration: none;
}

/* Menu */
.main-header__menu {
    list-style-type: none;
    justify-content: center;
    flex-grow: 1;
}

.main-header__menu__item {
    padding: 20px;
}

.main-header__menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero */
.hero {
    padding-block: 50px;
    background-color: #255EE9;
    background: url(../img/jumbo.png) center center;
    background-size: cover;
    color: #fff;
}

.hero .container {
    max-width: 910px;
    padding-block: 50px;
    justify-content: center;
}

.hero__title {
    margin-bottom: 25px;
    font-size: 40px;
}

.hero__text {
    max-width: 720px;
    margin: 0 auto 15px;
    line-height: 1.8;
    font-size: 18px;
    text-align: center;
}

.hero__cta--download,
.hero__cta--open {
    display: inline-flex;
    font-size: 18px;
}

.hero__cta--download {
    align-items: flex-start;
    margin-right: 15px;
}

.hero__cta--download::before,
.section-100__cta::before {
    content: "\2193";
    display: inline-block;
    margin-right: 5px;
    font-size: 17px;
}

.hero__cta--open {
    background-color: #23272A;
    color: #fff;
}

/* Hero debug */
.debug .hero {
    background-color: #9393CB;
}

.debug .hero .container {
    height: 400px;
    background-color: #F2C7F2;
}

/* Section 60% 40% */
.section {
    padding-block: 80px;
}

.section .col-6 {
    flex-basis: 60%;
}

.section .col-4 {
    flex-basis: 40%;
    padding-top: 40px;
    padding-left: 72.5px;
    padding-right: 40px;
}

.section .row--reverse .col-4 {
    padding-left: 40px;
    padding-right: 72.5px;
}

.section__title {
    font-size: 40px;
    margin-bottom: 30px;
}

.section__text {
    line-height: 1.8;
}

/* Section 60% 40% debug */
.debug .section .row {
    height: 500px;
}

.debug .col-6 {
    background-color: #9FCDF9;
}

.debug .col-4 {
    background-color: #F9E0E4;
}

.debug .main-content>div:nth-child(2n+3) {
    background-color: #E7E7E7;
}

/* Section 100% */
.section-100 {
    padding-top: 50px;
    margin-bottom: 150px;
}

.section-100 .col {
    flex-basis: 100%;
    text-align: center;
}

.section-100 .section__text {
    max-width: 800px;
    margin-inline: auto;
}

.section-100 img {
    width: 85%;
}

.section-100__cta,
.footer__bottom__cta {
    background-color: #7289DA;
    color: #fff;
}

.section-100__cta-wrapper__title {
    margin-bottom: 50px;
}

/* Section 100% debug */
.debug .section-100 .container .col {
    height: 900px;
    background-color: #A1CBA1;
}

/* Footer */
.footer {
    padding-block: 60px;
    background-color: #23272A;
    color: #fff;
}

/* Footer top */
.footer__top .container {
    padding-bottom: 30px;
    border-bottom: 1px solid #7289DA;
}

.footer__top .col-4 {
    flex-basis: calc(calc(100% / 12) * 4);
}

.footer__top .col-2 {
    flex-basis: calc(calc(100% / 12) *2);
}

.footer__top__title {
    font-size: 26px;
    color: #7289DA;
    margin-bottom: 15px;
}

.footer__top__lang {
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;
}

.footer__top__lang::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 14px;
    margin-right: 5px;
    background: url(../img/ita.png) center center;
    background-size: 100%;
}

.footer__top__lang::after {
    content: "\25be";
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    font-size: 18px;
}

.footer__top__social {
    list-style-type: none;
}

.footer__top__social__item {
    margin-inline: 10px;
}

.footer__top__social__item:nth-child(1) {
    margin-left: 0;
}

.footer__top__social__item:nth-child(4) {
    margin-right: 0;
}

.footer__top__menu__title {
    margin-bottom: 20px;
    color: #7289DA;
}

.footer__top__menu {
    list-style-type: none;
}

.footer__top__menu__item {
    margin-bottom: 20px;
}

.footer__top__menu__item:last-child {
    margin-bottom: 0;
}

.footer__top__menu__item a {
    color: #fff;
    text-decoration: none;
}

/* Footer bottom */
.footer__bottom {
    padding-top: 26px;
}

.footer__bottom .row {
    justify-content: space-between;
}

/* Footer debug */
.debug .footer__top .container {
    height: 580px;
}

.debug .footer__top .col-4 {
    background-color: #F3C6C6;
}

.debug .footer__top .col-2 {
    border: 2px dashed #fff;
    background-color: #A0DAD7;
}

.debug .footer {
    background-color: #A1A3A4;
}

.debug .footer__top .container {
    height: 580px;
}

.debug .footer__bottom .container {
    padding-block: 24px;
    background-color: #C6F9E8;
}

.debug .footer__bottom .container>* {
    line-height: 36px;
    padding-inline: 5px;
    background-color: #F9DCE0;
    color: #888;
}